$primary: #1D1DF1;
$secondary: #000074;
$tertiary: #E1D8FF;
$success: #73df60;
$danger: #df6060;
$warning: #dfb360;
$info: #6b60df;
$light: #F5F5F5;
$dark: #00002f;

$primary-alt: #4000FF;
$dark-alt: #1D0CC8;
$body-bg: #e8e8f6;
$body-color: #0c0c11;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "success": $success,
    "danger": $danger,
    "warning": $warning,
    "info": $info,
    "light": $light,
    "dark": $dark,
    "primary-alt": $primary-alt,
    "dark-alt": $dark-alt,
);